<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crossborder.dao.AccountManageDao">
    <select id="getAccounts" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT t1.* ,t2.NAME SHIPCOMPANY,T3.COMPANY_NAME USERCOMPANY FROM T_ACCOUNT_FLOW_INFO t1
        LEFT JOIN T_TRANSPORT_COMPANY t2
        ON t1.SHIP_COMPANY = t2.ID
        LEFT JOIN T_USER_COMPANY t3
        ON t1.USER_COMPANY = t3.COMPANY_ID
        WHERE 1=1
        <if test="userCompany !=null and userCompany !=''">
            AND t1.USER_COMPANY = #{userCompany,jdbcType=VARCHAR}
        </if>
        <if test="shipCompany !=null and shipCompany !=''">
            AND SHIP_COMPANY = #{shipCompany,jdbcType=VARCHAR}
        </if>
        <if test="logmin != null and logmin != ''">
            AND to_char(t1.CREATE_TIME,'yyyy-MM-dd hh24:mi:ss')  <![CDATA[>=]]> #{logmin,jdbcType=VARCHAR}
        </if>
        <if test="logmax != null and logmax != ''">
            AND to_char(t1.CREATE_TIME,'yyyy-MM-dd hh24:mi:ss')  <![CDATA[<=]]> #{logmax,jdbcType=VARCHAR}
        </if>
        ORDER BY t1.CREATE_TIME DESC
    </select>
    <insert id="addAccount" parameterType="java.util.Map">
        INSERT INTO
        T_ACCOUNT_FLOW_INFO(
        ACC_ID,
        FEE_TYPE,
        TRACKING_NO,
        ACC_BALANCE,
        SHIP_COMPANY,
        USER_COMPANY,
        CREATE_TIME,
        T_DESC,
        AMOUNT)
        VALUES (
        #{accId,jdbcType=VARCHAR},
        #{feeType,jdbcType=VARCHAR},
        #{trackingNo,jdbcType=VARCHAR},
        #{accBalance,jdbcType=DOUBLE},
        #{shipCompany,jdbcType=VARCHAR},
        #{userCompany,jdbcType=VARCHAR},
        CURRENT_DATE ,
        #{tDesc,jdbcType=VARCHAR},
        #{amount,jdbcType=DOUBLE}
        )
    </insert>
    <select id="getAccountByCompany" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT * FROM T_ACCOUNT_FLOW_INFO t
        WHERE t.USER_COMPANY =  #{userCompany,jdbcType=VARCHAR}
        ORDER BY t.CREATE_TIME DESC
    </select>
</mapper>