<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crossborder.dao.CommonDao">
    <select id="login" parameterType="java.util.Map" resultType="java.util.Map">
        select t1.*, t2.role_name, t3.company_name
        from T_USER_INFO t1
        left join T_ROLE t2
        on t2.role_id = t1.role_id
        left join T_USER_COMPANY t3
        on t3.company_id = t1.user_company
        WHERE t1.USER_ID = #{userId,jdbcType=VARCHAR}
        AND t1.USER_PWD = #{password,jdbcType=VARCHAR}
        AND t1.USER_STATE = '1'
    </select>
    <update id="updateLogin" parameterType="java.util.Map">
        UPDATE T_USER_INFO
        SET
        ISLOGIN = #{isLogin,jdbcType=INTEGER}
        WHERE
        USER_ID = #{userId,jdbcType=VARCHAR}
    </update>
    <select id="selectRole" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * FROM T_ROLE
        WHERE ROLE_ID = #{roleId,jdbcType=VARCHAR}
    </select>
    <select id="selectMenus" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT t1.menu_id,
        t1.menu_name,
        t1.path,
        t1.menu_pid,
        t1.iconpath,
        t1.menu_order
        FROM T_MENU t1, T_MENU_ROLE t2
        where t1.menu_id = t2.menu_id
        and t2.role_id = #{roleId,jdbcType=VARCHAR}
        ORDER BY MENU_ORDER
    </select>
    <select id="selectCountryByCode" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT t1.* FROM T_COUNTRY t1
        LEFT JOIN T_COUNTRY t2
        ON t2.COUNTRY_TYPE = t1.COUNTRY_TYPE
        WHERE t2.ID = #{id,jdbcType=VARCHAR}
    </select>
    <select id="getSql" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT * FROM T_COMMON_SQL
        WHERE CODE = #{code,jdbcType=VARCHAR}
    </select>
    <select id="getList" parameterType="java.lang.String" resultType="java.util.Map">
        <![CDATA[

			${sqlText}

        ]]>
    </select>
    <select id="getTreeList" parameterType="java.lang.String" resultType="java.util.Map">
        <![CDATA[


			${sqlText}


        ]]>
    </select>
    <update id="updateAddress" parameterType="java.util.Map">
        UPDATE T_ADDRESS
        SET
        USERNAME = #{ShippingFirstName,jdbcType=VARCHAR},
        COMPANY = #{ShippingCompany,jdbcType=VARCHAR},
        PHONE = #{ShippingPhone,jdbcType=VARCHAR},
        COUNTRYCODE = #{CountryCode,jdbcType=VARCHAR},
        POSTALCODE = #{ShippingZip,jdbcType=VARCHAR},
        CITY = #{ShippingCity,jdbcType=VARCHAR},
        STATEORREGION = #{ShippingState,jdbcType=VARCHAR},
        ADDRESSLINE1 = #{ShippingAddress,jdbcType=VARCHAR},
        ADDRESSLINE2 = #{ShippingAddress1,jdbcType=VARCHAR},
        ADDRESSLINE3 = #{ShippingAddress2,jdbcType=VARCHAR}
        WHERE AMAZONORDERID = #{amazonOrderId,jdbcType=VARCHAR}
    </update>
    <insert id="insertShips" parameterType="java.util.Map">
        INSERT INTO T_TRANSPORT_TYPE
        (ID,
        COMPANY_ID,
        STATE,
        COUNTRY_ID,
        ENGLISHNAME,
        HAVETRACKINGNUM,
        DISPLAYNAME,
        FULL_NAME)
        VALUES(
        #{Code,jdbcType=VARCHAR},
        #{companyId,jdbcType=VARCHAR},
        #{state,jdbcType=VARCHAR},
        #{countryId,jdbcType=VARCHAR},
        #{EnglishName,jdbcType=VARCHAR},
        #{HaveTrackingNum,jdbcType=VARCHAR},
        #{DisplayName,jdbcType=VARCHAR},
        #{FullName,jdbcType=VARCHAR}
        )
    </insert>
    <select id="getShipTypes" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * FROM T_TRANSPORT_TYPE
        WHERE
        COMPANY_ID = #{companyId,jdbcType=VARCHAR}
    </select>
    <insert id="insertShipMent" parameterType="java.util.Map">
        INSERT INTO T_ORDER_SHIPMENT (
        ORDER_ID,
        TRANS_COMPANY_ID,
        TRANS_TYPE_ID,
        CUST_ORDER_ID,
        ITEM_WEIGHT,
        ITEM_PACKAGES,
        LENGTH,
        WIDTH,
        HEIGHT,
        TRACKNUMBER,
        STATUS,
        SALESMAN,
        SALESCOMPANY,
        ORDER_CODE,
        CREATE_TIME
        )VALUES (
        #{amazonOrderId,jdbcType=VARCHAR},
        #{companyId,jdbcType=VARCHAR},
        #{typeId,jdbcType=VARCHAR},
        #{custId,jdbcType=VARCHAR},
        #{weight,jdbcType=VARCHAR},
        #{packages,jdbcType=VARCHAR},
        #{length,jdbcType=VARCHAR},
        #{width,jdbcType=VARCHAR},
        #{height,jdbcType=VARCHAR},
        #{trackNum,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR},
        #{salesMan,jdbcType=VARCHAR},
        #{salesCompany,jdbcType=VARCHAR},
        #{orderCode,jdbcType=VARCHAR},
        CURRENT_DATE
        )
    </insert>
    <insert id="insertCustomsInfo" parameterType="java.util.Map">
        INSERT INTO T_ORDER_CUSTOMS_INFO (
        CUST_ORDER_ID,
        ENGLISH_NAME,
        CHINESE_NAME,
        ITEM_QUATITY,
        QUATITY_UNIT,
        UNIT_PRICE,
        TOTAL_PRICE,
        ITEM_WEIGHT,
        TOTAL_WEIGHT,
        CUSTOM_SKU,
        CUSTOM_NUMBER
        ) VALUES (
        #{custId,jdbcType=VARCHAR},
        #{ApplicationName,jdbcType=VARCHAR},
        #{PickingName,jdbcType=VARCHAR},
        #{Qty,jdbcType=VARCHAR},
        #{unit,jdbcType=VARCHAR},
        #{UnitPrice,jdbcType=VARCHAR},
        #{totalPrice,jdbcType=VARCHAR},
        #{UnitWeight,jdbcType=VARCHAR},
        #{totalWeight,jdbcType=VARCHAR},
        #{sku,jdbcType=VARCHAR},
        #{code,jdbcType=VARCHAR}
        )
    </insert>
    <select id="selectTypes" parameterType="java.lang.String" resultType="java.util.Map">
        SELECT * FROM T_PRODUCT_TYPE_LOCAL
        WHERE L_C_PID = #{id,jdbcType=VARCHAR}
        order by l_c_name
    </select>
    <select id="selectShipMent" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * FROM T_ORDER_SHIPMENT
        WHERE 1=1
        <if test="orderId !=null and orderId !=''">
            AND ORDER_ID = #{orderId,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>