<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crossborder.dao.ProductIdGenDao">

    <select id="selectProductIdGenList" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from T_PRODUCT_ID a
        LEFT JOIN t_user_info b
        ON a.create_user = b.user_id
        <where>
            <if test="status!=null and status!=''">
                AND a.USE_STATUS=#{status}
            </if>
            <if test="type!=null and type!=''">
                AND a.TYPE=#{type}
            </if>
            <if test="userId != null and userId !=''">
                AND (a.create_user = #{userId} OR a.create_user IN (select t1.user_id from t_user_info t1 left join
                t_user_info t2
                on t2.user_company = t1.user_company where t1.role_id = '500' and t2.user_id=#{userId}))
            </if>
            <if test="companyId != null and companyId !=''">
                AND a.create_user in (SELECT user_id from t_user_info where user_company = #{companyId})
            </if>
        </where>
        ORDER BY a.CREATE_TIME DESC
    </select>

    <select id="selectProductIdForUse" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM  T_PRODUCT_ID a
        LEFT JOIN t_user_info b
        ON a.create_user = b.user_id
        where
        a.USE_STATUS=0
        <if test="type != null and type != ''">
            AND a.TYPE=#{type}
        </if>
        <if test="userId != null and userId !=''">
            AND (a.create_user = #{userId} OR a.create_user IN (select t1.user_id from t_user_info t1 left join
            t_user_info t2
            on t2.user_company = t1.user_company where t1.role_id = '500' and t2.user_id=#{userId}))
        </if>
        <if test="companyId != null and companyId !=''">
            AND a.create_user in (SELECT user_id from t_user_info where user_company = #{companyId})
        </if>
        ORDER BY CREATE_TIME DESC
    </select>

    <select id="selectProductIdExist" resultType="java.lang.Long" parameterType="java.util.Map">
      select
        count(1) from T_PRODUCT_ID a
        where
         a.TYPE=#{type}
        AND a.PRODUCT_ID=#{productId}

    </select>


    <resultMap id="BaseResultMap" type="com.crossborder.entity.ProductIdGen">
        <id column="a_ID" jdbcType="DECIMAL" property="id"/>
        <result column="a_PRODUCT_ID" jdbcType="VARCHAR" property="productId"/>
        <result column="a_TYPE" jdbcType="VARCHAR" property="type"/>
        <result column="a_USE_STATUS" jdbcType="CHAR" property="useStatus"/>
        <result column="a_CREATE_TIME" jdbcType="DATE" property="createTime"/>
        <result column="a_AMZ_UPLOAD_ID" jdbcType="VARCHAR" property="amzUploadId"/>
        <result column="a_CREATE_USER" jdbcType="VARCHAR" property="createUser"/>
        <result column="b_USER_NAME" jdbcType="VARCHAR" property="userName"/>
    </resultMap>
    <sql id="Base_Column_List">
        a.ID as a_ID, a.PRODUCT_ID as a_PRODUCT_ID, a.TYPE as a_TYPE, a.USE_STATUS as a_USE_STATUS,
        a.CREATE_TIME as a_CREATE_TIME, a.CREATE_USER as a_CREATE_USER,a.AMZ_UPLOAD_ID as a_AMZ_UPLOAD_ID,b.USER_NAME as b_USER_NAME
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from T_PRODUCT_ID a
        LEFT JOIN t_user_info b
        ON a.create_user = b.user_id
        where a.ID = #{id,jdbcType=DECIMAL}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from T_PRODUCT_ID
        where ID = #{id,jdbcType=DECIMAL}
    </delete>
    <insert id="insert" parameterType="com.crossborder.entity.ProductIdGen">
        insert into T_PRODUCT_ID (ID, PRODUCT_ID, TYPE,
        USE_STATUS, CREATE_TIME, AMZ_UPLOAD_ID
        )
        values (SEQ_PRODUCT_ID_GEN.nextval, #{productId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
        #{useStatus,jdbcType=CHAR}, CURRENT_DATE, #{amzUploadId,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.crossborder.entity.ProductIdGen">
        insert into T_PRODUCT_ID
        <trim prefix="(" suffix=")" suffixOverrides=",">
            ID,
            <if test="productId != null">
                PRODUCT_ID,
            </if>
            <if test="type != null">
                TYPE,
            </if>
            <if test="useStatus != null">
                USE_STATUS,
            </if>
            CREATE_TIME,
            <if test="amzUploadId != null">
                AMZ_UPLOAD_ID,
            </if>
            <if test="createUser != null">
                CREATE_USER,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            SEQ_PRODUCT_ID_GEN.nextval,
            <if test="productId != null">
                #{productId,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="useStatus != null">
                #{useStatus,jdbcType=CHAR},
            </if>
            CURRENT_DATE,
            <if test="amzUploadId != null">
                #{amzUploadId,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.crossborder.entity.ProductIdGen">
        update T_PRODUCT_ID
        <set>
            <if test="productId != null">
                PRODUCT_ID = #{productId,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                TYPE = #{type,jdbcType=VARCHAR},
            </if>
            <if test="useStatus != null">
                USE_STATUS = #{useStatus,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=DATE},
            </if>
            <if test="amzUploadId != null">
                AMZ_UPLOAD_ID = #{amzUploadId,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.crossborder.entity.ProductIdGen">
    update T_PRODUCT_ID
    set PRODUCT_ID = #{productId,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      USE_STATUS = #{useStatus,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=DATE},
      AMZ_UPLOAD_ID = #{amzUploadId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

</mapper>