<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crossborder.dao.ProductUploadCategoryDao">
  <resultMap id="BaseResultMap" type="com.crossborder.entity.ProductUploadCategory">
    <id column="a_ID" jdbcType="VARCHAR" property="id" />
    <result column="a_PARENT_ID" jdbcType="VARCHAR" property="parentId" />
    <result column="a_NAME" jdbcType="VARCHAR" property="name" />
    <result column="a_HAS_CHILD" jdbcType="CHAR" property="hasChild" />
    <result column="a_CHILD_COUNT" jdbcType="DECIMAL" property="childCount" />
    <result column="a_TYPE_DEF" jdbcType="VARCHAR" property="typeDef" />
    <result column="a_COUNTRY_CODE" jdbcType="VARCHAR" property="countryCode" />
    <result column="a_PATH" jdbcType="VARCHAR" property="path" />
    <result column="a_SHOP_ID" jdbcType="VARCHAR" property="shopId" />
  </resultMap>
  <sql id="Base_Column_List">
    a.ID as a_ID, a.PARENT_ID as a_PARENT_ID, a.NAME as a_NAME, a.HAS_CHILD as a_HAS_CHILD,
    a.CHILD_COUNT as a_CHILD_COUNT, a.TYPE_DEF as a_TYPE_DEF, a.COUNTRY_CODE as a_COUNTRY_CODE,
    a.PATH as a_PATH, a.SHOP_ID as a_SHOP_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from T_PRODUCT_UPLOAD_CATEGORY a
    where a.ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from T_PRODUCT_UPLOAD_CATEGORY
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.crossborder.entity.ProductUploadCategory">
    insert into T_PRODUCT_UPLOAD_CATEGORY (ID, PARENT_ID, NAME,
    HAS_CHILD, CHILD_COUNT, TYPE_DEF,
    COUNTRY_CODE, PATH, SHOP_ID
    )
    values (#{id,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
    #{hasChild,jdbcType=CHAR}, #{childCount,jdbcType=DECIMAL}, #{typeDef,jdbcType=VARCHAR},
    #{countryCode,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{shopId,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.crossborder.entity.ProductUploadCategory">
    insert into T_PRODUCT_UPLOAD_CATEGORY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="hasChild != null">
        HAS_CHILD,
      </if>
      <if test="childCount != null">
        CHILD_COUNT,
      </if>
      <if test="typeDef != null">
        TYPE_DEF,
      </if>
      <if test="countryCode != null">
        COUNTRY_CODE,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="shopId != null">
        SHOP_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="hasChild != null">
        #{hasChild,jdbcType=CHAR},
      </if>
      <if test="childCount != null">
        #{childCount,jdbcType=DECIMAL},
      </if>
      <if test="typeDef != null">
        #{typeDef,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null">
        #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.crossborder.entity.ProductUploadCategory">
    update T_PRODUCT_UPLOAD_CATEGORY
    <set>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="hasChild != null">
        HAS_CHILD = #{hasChild,jdbcType=CHAR},
      </if>
      <if test="childCount != null">
        CHILD_COUNT = #{childCount,jdbcType=DECIMAL},
      </if>
      <if test="typeDef != null">
        TYPE_DEF = #{typeDef,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null">
        COUNTRY_CODE = #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        PATH = #{path,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null">
        SHOP_ID = #{shopId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.crossborder.entity.ProductUploadCategory">
    update T_PRODUCT_UPLOAD_CATEGORY
    set PARENT_ID = #{parentId,jdbcType=VARCHAR},
    NAME = #{name,jdbcType=VARCHAR},
    HAS_CHILD = #{hasChild,jdbcType=CHAR},
    CHILD_COUNT = #{childCount,jdbcType=DECIMAL},
    TYPE_DEF = #{typeDef,jdbcType=VARCHAR},
    COUNTRY_CODE = #{countryCode,jdbcType=VARCHAR},
    PATH = #{path,jdbcType=VARCHAR},
    SHOP_ID = #{shopId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

</mapper>