<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.crossborder.dao.ShopManageDao">
    <insert id="addShop" parameterType="java.util.Map">
        INSERT INTO T_SHOP(
        SHOP_ID,
        SHOP_NAME,
        AMAZON_ACCOUNT,
        MERCHANT_ID,
        ACCESSKEY_ID,
        SECRET_KEY,
        CREATE_USER,
        SHOP_STATE,
        COUNTRY_CODE,
        EMAIL
        )
        VALUES (
          seq_shop_id.nextval,
        #{shopName,jdbcType=VARCHAR},
        #{amazonAccount,jdbcType=VARCHAR},
        #{merchantId,jdbcType=VARCHAR},
        #{accesskeyId,jdbcType=VARCHAR},
        #{secretKey,jdbcType=VARCHAR},
        #{createUser,jdbcType=VARCHAR},
        #{state,jdbcType=VARCHAR},
        #{countryCode,jdbcType=VARCHAR},
        #{email,jdbcType=VARCHAR}
        )
    </insert>
    <select id="selectShops" parameterType="java.util.Map" resultType="java.util.Map">
        select t1.*, t2.name country_Name,t2.MARKETPLACEID,t2.ENDPOINT,t2.EXRATE from T_SHOP t1
        left join T_COUNTRY t2
        on t2.id = t1.country_code
        WHERE 1=1
        <if test="id != null and id != '' and id != 'null'">
            AND t1.SHOP_ID = #{id,jdbcType=VARCHAR}
        </if>
        <if test="state !=null and state !=''">
            AND t1.SHOP_STATE = #{state}
        </if>
        <if test="createUser !=null and createUser !=''">
            AND t1.CREATE_USER = #{createUser,jdbcType=VARCHAR}
        </if>
        <if test="shopName !=null and shopName !=''">
            AND t1.SHOP_NAME = #{shopName,jdbcType=VARCHAR}
        </if>
        <if test="companyId !=null and companyId !=''">
            AND t1.CREATE_USER IN (SELECT USER_ID FROM T_USER_INFO WHERE user_company=#{companyId,jdbcType=VARCHAR})
        </if>
        ORDER BY t1.create_time DESC
    </select>

    <select id="selectShopsForImport" parameterType="java.util.Map" resultType="java.util.Map">
        select t1.*, t2.name country_Name,t2.MARKETPLACEID,t2.ENDPOINT,t2.EXRATE from T_SHOP t1
        left join T_COUNTRY t2 on t2.id = t1.country_code
        LEFT JOIN (SELECT MAX(SHOP_ID) AS shopId FROM T_SHOP GROUP BY COUNTRY_CODE) t3 ON t1.SHOP_ID=t3.shopId
        WHERE t3.shopId is not NULL


    </select>

    <select id="selectShopById" parameterType="java.util.Map" resultType="java.util.Map">
        select t1.*, t2.name country_Name,t2.MARKETPLACEID,t2.ENDPOINT,t2.EXRATE,t2.CURRENCYCODE,t2.LANGUAGE from T_SHOP t1
        left join T_COUNTRY t2 on t2.id = t1.country_code
        WHERE t1.SHOP_ID =#{id}
    </select>

    <update id="updateShopState" parameterType="java.util.Map">
        UPDATE T_SHOP
        set
        SHOP_STATE =  #{state,jdbcType=VARCHAR}
        WHERE
        SHOP_ID = #{id,jdbcType=VARCHAR}
    </update>
    <delete id="deleteShop" parameterType="java.lang.String">
        DELETE FROM T_SHOP
        WHERE
        SHOP_ID = #{id,jdbcType=VARCHAR}
    </delete>
    <update id="updateShop" parameterType="java.util.Map">
        UPDATE T_SHOP
        set
        SHOP_NAME =  #{shopName,jdbcType=VARCHAR},
        SHOP_STATE = #{state,jdbcType=VARCHAR},
        AMAZON_ACCOUNT = #{amazonAccount,jdbcType=VARCHAR},
        COUNTRY_CODE = #{countryCode,jdbcType=VARCHAR}
        WHERE
        SHOP_ID = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectShopsById" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT distinct shop_name,merchant_id FROM T_SHOP
        WHERE 1=1
        <if test="userId !=null and userId !=''">
            AND CREATE_USER = #{userId,jdbcType=VARCHAR}
        </if>
        <if test="companyId !=null and companyId !=''">
            AND CREATE_USER IN (select user_id from t_user_info where user_company = #{companyId,jdbcType=VARCHAR})
        </if>
        <if test="state != null and state != ''">
            AND SHOP_STATE = #{state,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectShopByCountry" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT distinct t1.merchant_id,t1.accesskey_id,t1.secret_key,t2.ENDPOINT,t2.EXRATE,t2.MARKETPLACEID from T_SHOP t1
        LEFT JOIN  T_COUNTRY t2
        on t1.country_code = t2.id
        WHERE  t1.merchant_id = #{merchantId,jdbcType=VARCHAR}
        AND t2.marketplaceid = #{marketplaceId,jdbcType=VARCHAR}
    </select>
    <select id="getMerchantId" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT DISTINCT t1.merchant_id,t1.accesskey_id,t1.secret_key,t2.ENDPOINT FROM T_SHOP t1
        LEFT JOIN T_COUNTRY t2
        ON t2.id = t1.country_code
        WHERE t1.create_user = #{createUser,jdbcType=VARCHAR}
        AND t1.shop_state = '1'
    </select>
    <select id="getMarketPlaceId" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * FROM T_COUNTRY t1
        WHERE t1.id IN (SELECT country_code FROM T_SHOP t2
         where t2.shop_state = '1'
         AND t2.MERCHANT_ID = #{MERCHANT_ID,jdbcType=VARCHAR})
         AND t1.c_state = '1'
    </select>
    <select id="getExrate" parameterType="java.util.Map" resultType="java.lang.String">
        SELECT exrate from T_COUNTRY
        WHERE currencycode = #{currencyCode,jdbcType=VARCHAR}
        AND rownum = 1
    </select>
</mapper>